<h2>Edit user command</h2>

<%= render "form.html", changeset: @changeset,
                        action: user_command_path(@conn, :update, @user_command) %>

<%= link "Back", to: user_command_path(@conn, :index) %>
