<h2>New user command</h2>

<%= render "form.html", changeset: @changeset,
                        action: user_command_path(@conn, :create) %>

<%= link "Back", to: user_command_path(@conn, :index) %>
